:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* OVERLAY */

.box-thumb {
  position: relative;
  height: 500px;
  width: 600px;
  margin: 0 auto;
  background-color: grey;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(162, 8, 8);
  opacity: 0.6;
  /* transform: scale(0); */
  transform: translateX(-100%);
  transition: transform 250ms linear, opacity 250ms linear;
}
.box-thumb:hover .overlay {
  /* transform: scale(1); */
  transform: translateX(0);
  opacity: 0.6;
}
.overlay p {
  font-size: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* ФИКСИРОВАНЫЙ ХЕДЕР */

.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(101, 135, 124, 0.6);
}
/* МОДАЛЬНОЕ ОКНО */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 48, 48, 0.4);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 700px;
  min-width: 900px;
  background-color: rgb(126, 187, 240);
  transition: transform 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal img {
  min-height: 700px;
}
.modal-close-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* MENU */

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.menu-item {
  position: relative;
  margin-right: 15px;
}

.menu-link {
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: teal;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.menu-item:hover .submenu {
  display: block;
}
.menu-item:hover .menu-link {
  color: rgb(214, 181, 222);
  background-color: blueviolet;
}
.submenu {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;
  list-style: none;
  display: none;
  background-color: #ccc;
}
.submenu a {
  text-decoration: none;
}
.no-copy {
  user-select: none;
}
/* КНОПКА ІКОНКА */
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  margin: 0;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: rgb(154, 211, 211);
  color: rgb(47, 45, 42);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}
.btn::before,
.btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn::before {
  /* background-color: #b474b1; */
  margin-right: 5px;
  background-image: url(../img/arrow-up-svgrepo-com.svg);
}
.btn:hover,
.btn:focus {
  background-color: rgb(48, 81, 79);
  color: rgb(255, 255, 255);
}
.btn:hover::before,
.btn:focus::before {
  transform: translateY(-35px);
}
.btn::after {
  position: absolute;
  top: 50%;
  left: 20px;
  /* background-color: #4e0a4b; */
  background-image: url(../img/arrow-down-svgrepo-com.svg);
  transform: translateY(calc(-50% + 35px));
}
.btn:hover::after,
.btn:focus::after {
  transform: translateY(-50%);
}
/* UNDERLINE LINK */
.line {
  display: flex;
}
.line-item {
  list-style: none;
}
.line-item + .line-item {
  margin-left: 10px;
}
.line-link {
  position: relative;
  /* outline: 2px solid black; */
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: currentColor;
}
.line-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  /* background-color: rgb(188, 7, 7); */
  background-image: linear-gradient(
    to right,
    rgb(58, 2, 2),
    rgb(226, 182, 182)
  );

  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform 250ms var(--timing-function);

  /* при скейл 0 обєкта не видно він вжатий в себе, при скейл 1 він повністю показується */
  /* анімація скейла починається із середини, але ми можемо міняти її ісце появи */
  /* завжди задаємо дві точки для переходу: від одної стадії(нульової) до іншої(100%) */
}
.line-link:hover::after {
  transform: scaleX(1);
}
/* FLIP CARD */

.scene {
  width: 200px;
  height: 260px;
  border: 1px solid #ccc;
  margin: 40px 0;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

/* .card.is-flipped {
  transform: rotateY(180deg);
} */
.scene:hover .card {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}
.scene-flip {
  width: 300px;
  height: 300px;
  perspective: 600px;
}
.box {
  height: 100%;
  background-image: url(../img/maxresdefault.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateY(0);
  transition: transform 500ms linear;
}
.scene-flip:hover .box {
  transform: rotateY(180deg);
}
.flex {
  display: flex;
  flex-direction: column;
}
/* ---------------FORM---------------- */
.form {
  background-color: rgb(230, 229, 229);
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  width: auto;
  padding: 15px;
}
.input {
  padding: 10px;
}
.form-btn {
  width: 80px;
  padding: 10px 15px;
  margin: 0 auto;
  background: orange;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.textarea {
  height: 80px;
  padding: 10px;
  resize: none;
}
